<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>about</title>
   
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
{% include "navbar.html" %}    
<form method="POST" action="/book">
    <div class="input-group">
        <label for="username">Enter Your Name *</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class="input-group">
        <label for="numberInput">Number of Adults (Above 12 yrs) *</label>
        <input type="number" id="numberInput" name="adult" min="0" max="10" required>
        <label for="numberInputChild">Number of Child (Age 2 - 11 yrs)</label>
        <input type="number" id="numberInputChild" name="child" min="0" max="10">
        <label for="numberInputInfant">Number of Infant (Age 0 - 1 yr)</label>
        <input type="number" id="numberInputInfant" name="infant" min="0" max="10">
    </div>
    <div class="input-group">
        <label for="numberInputRooms">Enter number of rooms *</label>
        <input type="number" id="numberInputRooms" name="rooms" min="0" max="10" required>
    </div>
    <div class="input-group">
        <label for="contact">Enter Contact *</label>
        <input type="tel" id="contact" name="contact" inputmode="numeric" minlength="10" maxlength="10" pattern="[0-9]{10}" required>
    </div>
    <div class="input-group">
        <button type="submit" class="btn" href="/book" name="book">Book</button>
    </div>
</form>

{% include "footer.html" %}

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="{{ url_for('static',filename="js/script.js")}}"></script>

</body>
</html>
