<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travistor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
</head>
<body>
   {%include "navbar.html"%}
   

   <section class="home-packages">
    <h1 class="heading-title">Bookings</h1>
      <div class="box-container">
          {% for booking in bookings %}
              <div class="box">
                <div class="content">
                    <h2><strong>Package Name: {{ booking.package_name }}</strong></h2>
                    <h3><strong>Name: {{ booking.name }}</strong></h3>
                    <h3><strong>Number of Persons: {{ booking.person }}</strong></h3>
                    <h3><strong>Contact: {{ booking.contact }}</strong></h3>
                    <h1 class="amount"><strong>Total Price: ₹{{ booking.total_price }} (Pending)</strong></h1>
                    <input type="hidden" name="booking_id" value="{{ booking._id }}">
                    <form method="POST" action="{{ url_for('cancel_booking', booking_id=booking['_id']) }}" id="cancel-form-{{ booking._id }}">
                        <input type="hidden" name="booking_id" value="{{ booking._id }}">
                        <button type="submit" class="btn" name="cancel">Cancel Booking</button>
                    </form>           
                  </div>
              </div>
          {% endfor %}
      </div>
  </section>
   {% include "footer.html" %}
</body>
</html>