<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Travistor</title>

   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <header class="header" id="header">
        <a href="/index" class="logo">Travistor</a>
        <div class="navbar" id="navbar">
            <a href="/index">Home</a>
            <a href="/packages">Packages</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
            {% if session['username'] %}
                <a href="/bookings">Bookings</a>  
                <a>{{ session['username'] }}</a>
                <a href="/logout" class="logout-btn" id="btnlog">Logout</a>
            {% else %}
                <a href="/signin">Sign In</a>
            {% endif %}
        </div>
    </header>
    

</body>
</html>