<!DOCTYPE html>
<html>
<head>
   <title>Travistor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    {% include "navbar.html" %}
    <div class="container">
        <div class="heriback" style="background:url('{{url_for('static',filename="images/package.jpg")}}')" >
            <h1>Packages</h1>
         </div>
    </div>

  <section class="home-packages">
        <h1 class="heading-title"> our packages </h1>
     
        <div class="box-container">

            <div class="box">
                <div class="image">
                   <img src="{{url_for('static',filename="images/wom2.jpg")}}" alt="">
                </div>
                <div class="content">
                   <h3>Rajasthan</h3>
                   <p>4 City
                    you will visit<br>
                    Udaipur(2N)--Pushkar--(1N)--Jaipur(2N)--Chittorgarh</p> 
                    <h4 class="start">Starts from</h4>
                     <h1 class="amount">₹34,000</h1>
                     <a href="{{ url_for('package_details', package_id=1) }}" class="btn">View Details</a>
                     <a href="{{ url_for('book', package_name='Rajasthan', package_price=34000) }}" class="btn">Book Now</a>

                </div>
             </div>
    
             <div class="box">
                <div class="image">
                   <img src="{{url_for('static',filename="images/wom3.jpg")}}" alt="">
                </div>
                <div class="content">
                   <h3>Shimla Manali</h3>
                   <p>4 City
                    you will visit<br>
                    Chandigarh(1N)--Manali--(3N)--Shimla--(1N)--Chandigarh(1N)--Delhi</p>
                   <h4 class="start">Starts from</h4>
                   <h1 class="amount">₹39,000</h1>
                   <a href="{{ url_for('package_details', package_id=2) }}" class="btn">View Details</a>
                   <a href="{{ url_for('book', package_name='Shimla Manali', package_price=39000) }}" class="btn">Book Now</a>
                </div>
             </div>
             
             <div class="box">
                <div class="image">
                   <img src="{{url_for('static',filename="images/wom4.jpg")}}" alt="">
                </div>
                <div class="content">
                   <h3>Kerala</h3>
                   <p>4 City you will visit<br>
                    Cochin(1N)--Munnar--(2N)--Periyar(1N)--Alleppey(1N)</p>
                   <h4 class="start">Starts from</h4>
                   <h1 class="amount">₹43,000</h1>
                   <a href="{{ url_for('package_details', package_id=3) }}" class="btn">View Details</a>
                   <a href="{{ url_for('book', package_name='Kerala', package_price=43000) }}" class="btn">Book Now</a>
                </div>
             </div>
    
             <div class="box">
                <div class="image">
                   <img src="{{url_for('static',filename="images/wom1.jpg")}}" alt="">
                </div>
                <div class="content">
                   <h3>Patan Modhera</h3>
                   <p>3 Cities
                      you will visit <br>
                      Ahmedabad(2N)--Kevadia(2N)--Patan</p>
                   <h4 class="start">Starts from</h4>
                   <h1 class="amount">₹34,000</h1>
                   <a href="{{ url_for('package_details', package_id=4) }}" class="btn">View Details</a>
                   <a href="{{ url_for('book', package_name='Patan Modhera', package_price=34000) }}" class="btn">Book Now</a>
                </div>
             </div>
    
             <div class="box">
                <div class="image">
                   <img src="{{url_for('static',filename="images/wom6.jpg")}}" alt="">
                </div>
                <div class="content">
                   <h3>Nainital Mussoorie Haridwar</h3>
                   <p>5 Cities
                    you will visit<br>
                    Haridwar(1N)--Mussoorie--(2N)--Nainital/Bhimtal(2N)--Rishikesh--Delhi</p>
                   <h4 class="start">Starts from</h4>
                   <h1 class="amount">₹45,000</h1>
                   <a href="{{ url_for('package_details', package_id=6) }}" class="btn">View Details</a>
                   <a href="{{ url_for('book', package_name='Nainital Mussoorie Haridwar', package_price=45000) }}" class="btn">Book Now</a>
                </div>
             </div>
             
             <div class="box">
                <div class="image">
                   <img src="{{url_for('static',filename="images/senior1.jpg")}}" alt="">
                </div>
                <div class="content">
                   <h3>Gujarat</h3>
                   <p>5 Cities
                      you will visit <br>
                      Gir (1N)--Somnath(1N)--Dwarka(2N)--Ahmedabad(2N)--Patan</p>
                   <h4 class="start">Starts from</h4>
                   <h1 class="amount">₹38,000</h1>
                   <a href="{{ url_for('package_details', package_id=7) }}" class="btn">View Details</a>
                   <a href="{{ url_for('book', package_name='Gujarat', package_price=38000) }}" class="btn">Book Now</a>
                </div>
             </div>
  
          <div class="box">
              <div class="image">
                 <img src="{{url_for('static',filename="images/senior2.jpg")}}" alt="">
              </div>
              <div class="content">
                 <h3>Indore Ujjain Mandu</h3>
                 <p>3 City
                  you will visit<br>
                  Indore--Ujjain(2N)--Mand(2N)</p>
                  <h4 class="start">Starts from</h4>
                   <h1 class="amount">₹38,000</h1>
                   <a href="{{ url_for('package_details', package_id=8) }}" class="btn">View Details</a>
                   <a href="{{ url_for('book', package_name='Indore Ujjain Mandu', package_price=38000) }}" class="btn">Book Now</a>
              </div>
           </div>
           
           <div class="box">
              <div class="image">
                 <img src="{{url_for('static',filename="images/wom5.jpg")}}" alt="">
              </div>
              <div class="content">
                 <h3>Coorg Mysore Bengaluru</h3>
                 <p>3 City
                  you will visit<br>
                  Bangalore(1N)--Coorg--(2N)--Mysore(2N)--Bengaluru</p>
                 <h4 class="start">Starts from</h4>
                 <h1 class="amount">₹44,000</h1>
                 <a href="{{ url_for('package_details', package_id=5) }}" class="btn">View Details</a>
                 <a href="{{ url_for('book', package_name='Coorg Mysore Bengaluru', package_price=44000) }}" class="btn">Book Now</a>
              </div>
           </div>
  
           <div class="box">
              <div class="image">
                 <img src="{{url_for('static',filename="images/senior5.jpg")}}" alt="">
              </div>
              <div class="content">
                 <h3>PondicherryMahabalipuram</h3>
                 <p>5 City
                  you will visit<br>
                  Kanchipuram(1N)--Chennai--Mahabalipuram--Chidambaram--Pondicherry(3N)</p>
                 <h4 class="start">Starts from</h4>
                 <h1 class="amount">₹49,000</h1>
                 <a href="{{ url_for('package_details', package_id=9) }}" class="btn">View Details</a>
                 <a href="{{ url_for('book', package_name='PondicherryMahabalipuram', package_price=49000) }}" class="btn">Book Now</a>
              </div>
           </div>
  
           <div class="box">
              <div class="image">
                 <img src="{{url_for('static',filename="images/senior6.jpg")}}" alt="">
              </div>
              <div class="content">
                 <h3>Varanasi Ayodhya Lucknow</h3>
                 <p>5 Cities
                  you will visit<br>
                  Sarnath--Lucknow(2N)--Ayodhya(1N)--Prayagraj(1N)--Varanasi(3N)</p>
                 <h4 class="start">Starts from</h4>
                 <h1 class="amount">₹49,000</h1>
                 <a href="{{ url_for('package_details', package_id=10) }}" class="btn">View Details</a>
                 <a href="{{ url_for('book', package_name='Varanasi Ayodhya Lucknow', package_price=49000) }}" class="btn">Book Now</a>
              </div>
           </div>

       <div class="box">
          <div class="image">
             <img src="{{url_for('static',filename="images/fam4.jpg")}}" alt="">
          </div>
          <div class="content">
             <h3>Port Blair Escape</h3>
             <p>1 City
              you will visit<br>
              Port Blair
              (3N)</p>
             <h4 class="start">Starts from</h4>
             <h1 class="amount">₹20,000</h1>
             <a href="{{ url_for('package_details', package_id=11) }}" class="btn">View Details</a>
             <a href="{{ url_for('book', package_name='Port Blair Escape', package_price=20000) }}" class="btn">Book Now</a>
          </div>
       </div>

       <div class="box">
          <div class="image">
             <img src="{{url_for('static',filename="images/fam3.jpg")}}" alt="">
          </div>
          <div class="content">
             <h3>Goa with Pride Sun Village Resort</h3>
             <p>1 City
              you will visit<br>
              Goa(3N)</p>
             <h4 class="start">Starts from</h4>
             <h1 class="amount">₹16,000</h1>
             <a href="{{ url_for('package_details', package_id=12) }}" class="btn">View Details</a>
             <a href="{{ url_for('book', package_name='Goa with Pride Sun Village Resort', package_price=16000) }}" class="btn">Book Now</a>
          </div>
       </div>

       <div class="box">
          <div class="image">
             <img src="{{url_for('static',filename="images/fam6.jpg")}}" alt="">
          </div>
          <div class="content">
             <h3>Statue of Unity with Narmada tent city</h3>
             <p>2 Cities
              you will visit<br>
              Kevadia(2N)--Vadodara--Narmada Tent City</p>
             <h4 class="start">Starts from</h4>
             <h1 class="amount">₹22,000</h1>
             <a href="{{ url_for('package_details', package_id=13) }}" class="btn">View Details</a>
             <a href="{{ url_for('book', package_name='Statue of Unity with Narmada tent city', package_price=22000) }}" class="btn">Book Now</a>
          </div>
       </div>
           
        </div>
   
  </section>
    {% include "footer.html" %}

</body>
</html>