<!DOCTYPE html>
<html>
<head>
   <title>Travistor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="container">
        <div class="heriback" style="background:url('{{url_for('static',filename="images/seniorback.jpg")}}')" >
            <h1>Senior's</h1>
         </div>
    </div>

    <section class="home-packages">

        <h1 class="heading-title"> our packages </h1>
     
        <div class="box-container">
     
           <div class="box">
              <div class="image">
                 <img src="{{url_for('static',filename="images/senior1.jpg")}}" alt="">
              </div>
              <div class="content">
                 <h3>Gujarat</h3>
                 <p>5 Cities
                    you will visit <br>
                    Gir (1N)--Somnath(1N)--Dwarka(2N)--Ahmedabad(2N)--Patan</p>
                 <h4 class="start">Starts from</h4>
                 <h1 class="amount">₹38,000</h1>
                 <a href="{{ url_for('package_details', package_id=7) }}" class="btn">View Details</a>
                 <a href="{{ url_for('book', package_name='Gujarat') }}" class="btn">Book Now</a>>
              </div>
           </div>

        <div class="box">
            <div class="image">
               <img src="{{url_for('static',filename="images/senior2.jpg")}}" alt="">
            </div>
            <div class="content">
               <h3>Indore Ujjain Mandu</h3>
               <p>3 City
                you will visit<br>
                Indore--Ujjain(2N)--Mand(2N)</p>
                <h4 class="start">Starts from</h4>
                <h1 class="amount">₹38,000</h1>
                <a href="{{ url_for('package_details', package_id=8) }}" class="btn">View Details</a>
                <a href="{{ url_for('book', package_name='Indore Ujjain Mandu') }}" class="btn">Book Now</a>
            </div>
         </div>

         <div class="box">
            <div class="image">
               <img src="{{url_for('static',filename="images/wom6.jpg")}}" alt="">
            </div>
            <div class="content">
               <h3>Nainital Mussoorie Haridwar</h3>
               <p>5 Cities
                you will visit<br>
                Haridwar(1N)--Mussoorie--(2N)--Nainital/Bhimtal(2N)--Rishikesh--Delhi</p>
               <h4 class="start">Starts from</h4>
               <h1 class="amount">₹43,000</h1>
               <a href="{{ url_for('package_details', package_id=6) }}" class="btn">View Details</a>
               <a href="{{ url_for('book', package_name='Nainital Mussoorie Haridwar') }}" class="btn">Book Now</a>
            </div>
         </div>
         
         <div class="box">
            <div class="image">
               <img src="{{url_for('static',filename="images/wom5.jpg")}}" alt="">
            </div>
            <div class="content">
               <h3>Coorg Mysore Bengaluru</h3>
               <p>3 City
                you will visit<br>
                Bangalore(1N)--Coorg--(2N)--Mysore(2N)--Bengaluru</p>
               <h4 class="start">Starts from</h4>
               <h1 class="amount">₹44,000</h1>
               <a href="{{ url_for('package_details', package_id=5) }}" class="btn">View Details</a>
               <a href="{{ url_for('book', package_name='Coorg Mysore Bengaluru') }}" class="btn">Book Now</a>
            </div>
         </div>

         <div class="box">
            <div class="image">
               <img src="{{url_for('static',filename="images/senior5.jpg")}}" alt="">
            </div>
            <div class="content">
               <h3>PondicherryMahabalipuram</h3>
               <p>5 City
                you will visit<br>
                Kanchipuram(1N)--Chennai--Mahabalipuram--Chidambaram--Pondicherry(3N)</p>
               <h4 class="start">Starts from</h4>
               <h1 class="amount">₹49,000</h1>
               <a href="{{ url_for('package_details', package_id=9) }}" class="btn">View Details</a>
               <a href="{{ url_for('book', package_name='PondicherryMahabalipuram') }}" class="btn">Book Now</a>
            </div>
         </div>

         <div class="box">
            <div class="image">
               <img src="{{url_for('static',filename="images/senior6.jpg")}}" alt="">
            </div>
            <div class="content">
               <h3>Varanasi Ayodhya Lucknow</h3>
               <p>5 Cities
                you will visit<br>
                Sarnath--Lucknow(2N)--Ayodhya(1N)--Prayagraj(1N)--Varanasi(3N)</p>
               <h4 class="start">Starts from</h4>
               <h1 class="amount">₹49,000</h1>
               <a href="{{ url_for('package_details', package_id=10) }}" class="btn">View Details</a>
               <a href="{{ url_for('book', package_name='Varanasi Ayodhya Lucknow') }}" class="btn">Book Now</a>
            </div>
         </div>

         
        </div>


</body>
</html>