<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travistor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
</head>
<body>
   {%include "navbar.html"%}
   

   <section class="home-packages">
    <h1 class="heading-title">Wishlist</h1>
      <div class="box-container">
          {% for item in wishlist %}
              <div class="box">
                <div class="image">
                    {% if item.image %}
                        <img src="data:image/jpeg;base64,{{ item.image }}" alt="Package Image" >
                    {% endif %}
                </div>
                <div class="content">
                    <h3>{{ item.package_name }}</h3>
                    <h1 class="amount">₹{{ item.package_price }}</h1>
                    <p><strong>Route:</strong> {{ item.route }}</p>
                    <form action="/remove_package/{{ item._id  }}" method="POST">
                        <button type="submit" class="btn" name="cancel">Remove</button>
                    </form>           
                </div>  
              </div>
          {% endfor %} 
      </div>
  </section>
   {% include "footer.html" %}
</body>
</html>